		
	div.blur {
	background: url(../images/img.jpg) no-repeat center fixed;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}

@media screen and (min-width: 480px) {
	div.blur {background: url(../images/img4.jpg) no-repeat center fixed;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px); 
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 800px;
	box-shadow: none;
	}
}

div.smallbox {
  /*float: left;*/
  position: relative;
  margin-bottom: 110px;
  /*
  height: 425px;
  width:425px;
  left: 450px;
  top: 150px;*/
  }

@media screen and (min-width: 480px) {
div.smallbox {
  height: 380px;
  width:440px;
  position:relative;
  margin:auto;
  /* change 
  left: 34.4%;
  top: 150px;
  change end*/
  background-color: white;
  display:none;
	}
}

@media screen and (max-width: 479px) {
	form {position:relative;
	margin-top:-100px;
	}
}

div.smallbox2 {
  /*float: left;*/
  position: relative;

  /*height: 100px;
  width:425px;
  left: 450px;
  top: 150px;*/
  }

@media screen and (min-width: 480px) {
div.smallbox2 {
  /*height: 50px;*/
  width:440px;
  position:relative;
  margin:auto;
  /* change 
  left: 34.4%;
  top: 150px;
  change end*/
  background-color: white;
  display:none;
  
	}
}



.title {background-color: red;
height:50px;
width:150px;
text-align:center;
text-decoration:none;
position: relative;
margin:auto;  /*new line*/
/*padding:15px;*/
color: white;
	}
	
@media screen and (min-width: 480px) {
.title {background-color: red;
height:50px;
width:150px;
text-align:center;
position: absolute;
margin-left:50px;
margin-top: -10px;
/*padding:15px; */
text-decoration:none;
color: white;  
	}
}


input#username {
	/*background:url(../images/icon.jpg), url(../images/error.png) right no-repeat;*/
	width: 90%;
    /*background-position: 10px 10px; */
	background-color:transparent;
	margin-left:20px;
	text-align:center;
	font-size:18.5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border:none;
    outline:none;
    border-bottom:1px solid;
	}
	
	input#password, input#newpassword, input#confirmpassword {
	/*background:url(../images/icon2.jpg), url(../images/error.png) right no-repeat;*/
	width: 90%;
    /*background-position: 10px 10px;*/
	background-color:transparent;
	margin-left:20px;
	text-align:center;
	font-size:18.5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border:none;
    outline:none;
    border-bottom:1px solid;
	}
	
/*............ICONS STYLE START...........................................................*/
	
	i#me, i#lock, i#lock2, i#lock3 {position:absolute; margin-left: 15px; margin-top:5px}
	

	
/*............ICONS STYLE END...........................................................*/



/*..................SIGN IN BUTTON START.................................*/

button {
	border-radius:none; 
	border:none; 
	/*padding:13px 165px; */
	font-size:22px; 
	background-color:#07518E; 
	color:white; 
	/*position: absolute;
	margin-top:440px; 
	margin-left:auto;
	height:30px;*/
	width:370px;
	position:relative;
	margin:auto;
	}

@media screen and (min-width: 480px) {
button {
	border-radius:none; 
	border:none; 
	/*padding:13px 165px;*/ 
	font-size:22px; 
	background-color:#07518E; 
	color:white; 
	/*position: absolute;
	margin-top:440px; 
	margin-left:auto;
	height:30px;*/
	width:410px;
	position:relative;
	margin:auto;
	display:none;
	}
}

a>button:hover {background-color:#577FEC}

/*..................SIGN IN BUTTON END................................*/






